@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<article>
    Check out the new Roman calculator! Either click <a href="/calculator">here</a>, or use the navigation menu to get started.
</article>